* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
  text-decoration: none;
  color: #3f3e41;
}

html {
  font-size: 16px;
  scroll-behavior: smooth;
}

header {
  top: 0;
  right: 0;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 12%;
  z-index: 100;
  position: fixed;
}

.fa-arrow-left {
  display: flex;
  padding-right: 1rem;
}

.navigation {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 2rem;
}

.logo {
  font-size: 1.5rem;
  font-weight: 700;
}

.sublogo {
  color: rgb(107, 45, 168);
}

nav {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 1.5rem;
}

nav a {
  font-weight: 550;
  border-bottom: 2px solid transparent;
  padding: 0.5rem 0 0.5rem;
  transition: 0.3s ease;
}

nav a:hover {
  color: #6b2da8;
  border-bottom: 2px solid #6b2da8;
}

.user-register {
  display: flex;
  gap: 1rem;
  font-weight: 550;
}

.signout-btn,
.get-help-btn {
  background-color: transparent;
  border-radius: 0.5rem;
  padding: 0.5rem;
  transition: 0.3s ease;
}

.fa-bell {
  transition: 0.3s ease;
}

.fa-bell:hover {
  color: #6b2da8;
}

.signout-btn:hover,
.get-help-btn:hover {
  background-color: #e2dfe3;
}

section {
  height: auto;
  width: 100%;
  padding: 5rem 12%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}

.row1 {
  max-height: 265px;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.row2 {
  max-height: 400px;
  width: 100%;
}

.select-container {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  width: 100%;
}

.dropdown {
  padding: 0.3rem 0.5rem;
  outline: none;
  border-radius: 0.5rem;
  color: #8d8d8d;
  border: 1px solid lightgrey;
  transition: all 0.3s ease;
}

.type-options,
.months-option,
.day-option {
  opacity: 0;
  visibility: hidden;
  transform: translateY(20px);
  transition: all 0.3s ease;
}

.active {
  opacity: 1;
  visibility: visible;
  transform: translateY(0);
}

option {
  color: #8d8d8d;
}

.bargraph {
  max-height: 265px;
  width: 440px;
  display: flex;
  flex-direction: column;
  padding: 1rem;
  padding-bottom: 2rem;
  background-color: #efefef;
  border-radius: 1rem;
}

.users-total {
  height: 265px;
  width: 265px;
  background: linear-gradient(45deg, #6b2da8, rgba(83, 18, 158, 0.616));
  border-radius: 1rem;
}

.doughnut-graph-container {
  height: 265px;
  width: 265px;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #efefef;
  padding: 1rem;
  border-radius: 1rem;
}

.label-doughnut {
  color: #6b2da8;
  font-size: 1.5rem;
  font-weight: 700;
  width: 100%;
  position: absolute;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1;
}

.line-graph-container {
  width: 780px;
  height: 400px;
  padding: 1rem;
  background-color: #efefef;
  border-radius: 1rem;
}

.blogs {
  width: 30%;
  height: 100%;
}

#idvalidated-graph {
  z-index: 10;
  position: relative;
}

@media (max-width: 480px) {
  .fa-arrow-left {
    display: flex;
    color: #3f3e41;
  }

  header {
    padding: 1rem;
    width: 100%;
    border-bottom: 0.5px solid #afafaf;
    z-index: 100;
    background-color: #ffffff;
  }

  .navigation {
    width: 100%;
    display: flex;
    justify-content: center;
  }

  .row1 {
    display: flex;
    flex-direction: column;
  }
  .navigation nav {
    display: none;
  }

  .user-register {
    display: none;
  }

  .bargraph {
    height: 300;
  }

  .doughnut-graph-container {
    height: 150px;
    width: 150px;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  section {
    height: auto;
    width: 100%;
    padding: 5rem 8%;
  }
}
