* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
  text-decoration: none;
  color: #3f3e41;
}

html {
  font-size: 16px;
  scroll-behavior: smooth;
}

header {
  top: 0;
  right: 0;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 12%;
  z-index: 100;
  position: fixed;
  background-color: #ffffff;
}

canvas {
  max-width: 100%;
  max-height: 100%;
  width: 100%;
  height: auto;
  overflow: visible;
}

.fa-arrow-left {
  display: flex;
  padding-right: 1rem;
}

.navigation {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 2rem;
}

.logo {
  font-size: 1.5rem;
  font-weight: 700;
}

.sublogo {
  color: rgb(107, 45, 168);
}

nav {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 1.5rem;
}

nav a {
  font-weight: 550;
  border-bottom: 2px solid transparent;
  padding: 0.5rem 0 0.5rem;
  transition: 0.3s ease;
}

nav a:hover {
  color: #6b2da8;
  border-bottom: 2px solid #6b2da8;
}

.user-register {
  display: flex;
  gap: 1rem;
  font-weight: 550;
}

.signout-btn,
.get-help-btn {
  background-color: transparent;
  border-radius: 0.5rem;
  padding: 0.5rem;
  transition: 0.3s ease;
}

.fa-bell {
  transition: 0.3s ease;
}

.fa-bell:hover {
  color: #6b2da8;
}

.signout-btn:hover,
.get-help-btn:hover {
  background-color: #e2dfe3;
}

section {
  height: auto;
  width: 100%;
  padding: 5rem 12%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}

.row1 {
  max-height: 265px;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 1rem;
}
.row2 {
  max-height: 400px;
  width: 100%;
  display: flex;
  gap: 1rem;
}

.select-container {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
}

.dropdown {
  padding: 0.3rem 0.5rem;
  outline: none;
  border-radius: 0.5rem;
  color: #8d8d8d;
  border: 1px solid lightgrey;
  transition: all 0.3s ease;
}

.type-options,
.months-option,
.day-option,
.linegraph-type-options,
.linegraph-months-options,
.linegraph-day-option {
  opacity: 0;
  visibility: hidden;
  transform: translateY(20px);
  transition: all 0.3s ease;
}

.active {
  opacity: 1;
  visibility: visible;
  transform: translateY(0);
}

option {
  color: #8d8d8d;
}

.bargraph {
  max-height: 265px;
  width: 520px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 1rem;
  background-color: #efefef;
  border-radius: 1rem;
}

.users-total {
  height: 265px;
  width: 100%;
  background: linear-gradient(45deg, #6b2da8, rgba(83, 18, 158, 0.616));
  border-radius: 1rem;
  display: flex;
  gap: 1rem;
  padding: 2rem;
}

.total-users,
.students-inSchool {
  height: 100%;
  width: 50%;
  background-color: #efefef;
  border-radius: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.users-total h1,
.users-total p {
  color: #6b2da8;
}

.users-total p {
  font-size: 0.8rem;
  font-weight: 700;
}

.doughnut-graph-container {
  height: 265px;
  width: 265px;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #efefef;
  padding: 1rem;
  border-radius: 1rem;
}

.label-doughnut {
  color: #6b2da8;
  font-size: 1.5rem;
  font-weight: 700;
  width: auto;
  position: absolute;
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1;
  margin-top: 5px;
}

.line-graph-container {
  width: 780px;
  height: auto;
  padding: 1rem;
  background-color: #efefef;
  border-radius: 1rem;
  display: flex;
  flex-direction: column;
}

.blogs {
  width: 30%;
  height: 100%;
}

#idvalidated-graph {
  z-index: 10;
  position: relative;
}

.student-log-container {
  background: linear-gradient(45deg, #6b2da8, rgba(83, 18, 158, 0.616));
  height: 100%;
  width: 500px;
  border-radius: 1rem;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.form-container input {
  outline: none;
  padding: 0.2rem 0.3rem;
  border: none;
  background-color: #ffffffc8;
  border-radius: 0.5rem;
}

.form-container input:focus {
  outline: none;
  border: none;
  background-color: #ffffffc8;
  color: #3f3e41;
}

.studentNumber {
  width: 6.8rem;
}

.date {
  width: 9rem;
}

.fa-magnifying-glass {
  padding: 0.2rem;
  color: #6b2da8;
}

.search-student-form button {
  cursor: pointer;
  border: none;
  border-radius: 0.2rem;
  transition: 0.3s ease;
}
.search-student-form button:hover {
  transform: scale(1.05);
}

.log-container {
  height: auto;
  width: 100%;
  overflow-x: auto;
  display: flex;
  justify-content: center;
  flex-direction: column;
  gap: 0.5rem;
}

.log-container h2 {
  color: #f0eff1;
  height: auto;
}

.student-entryTime {
  color: #39b385;
  font-size: 0.7rem;
  font-weight: 700;
}

.student-exitTime {
  color: #e52a5a;
  font-size: 0.7rem;
  font-weight: 700;
}

.logDate {
  font-weight: 700;
}

.logs {
  background-color: #e2dfe3;
  height: auto;
  width: 100%;
  padding: 0.3rem;
  border-radius: 0.5rem;
  transition: 0.3s ease;
}

.logs:hover {
  background-color: #f0eff1;
}

@media (max-width: 480px) {
  .fa-arrow-left {
    display: flex;
    color: #3f3e41;
  }

  header {
    padding: 1rem;
    width: 100%;
    border-bottom: 0.5px solid #afafaf;
    z-index: 100;
    background-color: #ffffff;
  }

  .navigation {
    width: 100%;
    display: flex;
    justify-content: center;
  }

  .row1 {
    display: flex;
    height: auto;
    width: 100%;
    flex-direction: column;
    gap: 0.5rem;
  }

  .row2 {
    display: flex;
    flex-direction: column;
    height: auto;
    width: 100%;
    gap: 0.5rem;
  }

  .navigation nav {
    display: none;
  }

  .user-register {
    display: none;
  }

  .bargraph {
    width: 100%;
    max-height: 240px;
  }

  .doughnut-graph-container {
    height: 327px;
    width: 100%;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .line-graph-container {
    max-height: 260px;
    width: 100%;
    height: 420px;
  }

  .student-log-container {
    max-width: 327px;
    height: 10rem;
    overflow-y: auto;
  }

  .log-container {
    height: 8rem;
    width: 100%;
  }

  .users-total {
    padding: 1rem;
    height: 300px;
  }

  .total-users,
  .students-inSchool {
    padding: 0.5rem;
    border-radius: 0.5rem;
    height: 100px;
  }

  .select-container select {
    width: 80px;
  }

  section {
    height: auto;
    width: 100%;
    padding: 5rem 8%;
    display: flex;
    flex-direction: column;
    gap: 28.6rem;
  }
}
