* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
  text-decoration: none;
  color: #3f3e41;
}

html {
  font-size: 16px;
  scroll-behavior: smooth;
}

.sidebar {
  height: 100vh;
  width: 45%;
  position: fixed;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  padding: 2rem 0.5rem;
  z-index: 200;
  opacity: 0;
  visibility: hidden;
  transform: translateX(-100%);
  transition: all 0.3s ease;
  background-color: #ffffff;
}

.sidebar-active {
  opacity: 1;
  visibility: visible;
  transform: translateX(0);
}

header {
  top: 0;
  right: 0;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 12%;
  z-index: 100;
  position: fixed;
}

.fa.fa-bars {
  display: none;
}

.navigation {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 2rem;
}

.logo {
  font-size: 1.5rem;
  font-weight: 700;
}

.sublogo {
  color: #6b2da8;
}

nav {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 1.5rem;
}

nav a {
  font-weight: 550;
  border-bottom: 2px solid transparent;
  padding: 0.5rem 0 0.5rem;
  transition: 0.3s ease;
}

nav a:hover {
  color: #6b2da8;
  border-bottom: 2px solid #6b2da8;
}

.user-register {
  display: flex;
  gap: 1rem;
  font-weight: 550;
}

.login-btn,
.get-help-btn {
  background-color: transparent;
  border-radius: 0.5rem;
  padding: 0.5rem;
  transition: 0.3s ease;
}

.fa-bell {
  transition: 0.3s ease;
}

.fa-bell:hover {
  color: #6b2da8;
}

.login-btn:hover,
.get-help-btn:hover {
  background-color: #e2dfe3;
}

.section-contain {
  height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 5rem 12%;
  gap: 1rem;
}

.qr-details {
  width: 70%;
  height: 100%;
  background: linear-gradient(45deg, #6b2da8, #53129e9d);
  border-radius: 1rem;
}

#reader {
  width: 30%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.detection-status {
  padding: 1rem;
}

.hidden {
  display: none;
}

@media (max-width: 480px) {
  .sidebar-container {
    display: flex;
    flex-direction: column;
  }

  .sidebar-btns {
    display: flex;
    width: 100%;
    gap: 1rem;
    font-size: 1.1rem;
    font-weight: 700;
    padding: 1rem 0.5rem;
    border-radius: 0.5rem;
    transition: 0.3s ease;
  }

  .sidebar-btns:hover {
    background-color: #e2dfe3;
  }

  .sidebar-btns:hover i,
  .sidebar-btns:hover p {
    background-color: #e2dfe3;
  }

  .sidebar-btns i {
    color: #6b2da8;
    background-color: #ffffff;
    transition: 0.3s ease;
  }

  .sidebar-btns p {
    transition: 0.3s ease;
  }

  section {
    height: auto;
  }

  .fa.fa-bars {
    display: flex;
    color: #3f3e41;
  }

  header {
    padding: 1rem;
    width: 100%;
    border-bottom: 0.5px solid #afafaf;
    z-index: 100;
    background-color: #ffffff;
  }

  .navigation {
    width: 100%;
    display: flex;
    justify-content: center;
  }

  .navigation nav {
    display: none;
  }

  .user-register {
    display: none;
  }

  .section-contain {
    display: flex;
    flex-direction: column;
    height: auto;
  }

  #reader {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
  }
}
